<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="  https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Easy Forms</a>
    </nav>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="card col-md-4 offset-md-4">
			<h2>Title :  <%= title %></h2><br />
			<h3>Description :  <%= desc %></h3><br /><br /><br /><br />
			<%= submsg %>
                <form method="POST" action="/respost">
                    <ol>
                        <% formfields.forEach(function(op){%>
                        <li> 
                            <%= op.Fields %><br />
                            <input type="text" name=id required /><br />
                            <%});%>
                    </ol>
                    <button type="submit" class="btn btn-success" styles="margin :auto;">Submit Responses</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
